@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';


@source '../../vendor/filament/**/*.blade.php';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Sudah otomatis diaktifkan oleh Tailwind */
  }

  html, body {
    @apply h-full w-full overflow-auto font-sans;
  }
}